//-------------------------------------
//-- Copyright - Config - Design
//-------------------------------------

/* ... */



// Classic url
@mixin gabick-background-image {
	@include nwayo-bg-image-styles('GabickLogo_icone_white_50px.png', 'copyright');
}

$footer-adjective-font-size: 			$common-title-size;
$footer-gabick-primary-color: 			#fc7f62;
$footer-gabick-secondary-color: 		#00adb5;
$footer-gabick-backgorund-color: 		#4d4d4d;
$footer-gabick-font-weight: 			$common-text-fat-weight;
$footer-gabick-text-color: 				#ffffff;
