//-------------------------------------
//-- Blog - Base
//-------------------------------------
#main-content .container {
	&::before {
		display: none;
	}

	.blog-container {
		h1.entry-title {
			padding: 0;
			margin: 0;
		}
	}

	#content-area {
		padding-top: .75em;

		@media #{bp(large)} {
			padding-top: 2.75em;

		}

		#left-area {
			@media #{bp(large)} {
				padding-left: 3%;
			}
		}
	}
}


.et_pb_blog_grid {
	article.et_pb_post {
		padding: 0;
		margin: 0;

		&:hover > .et_pb_image_container {
			img {
				filter: saturate(100%);
				transition: 1s;
			}
		}

		h2.entry-title, div.post-content, p.post-meta {
			position: relative;
			top: -2em;
			padding-right: 1.25em;
			padding-left: 1.25em;
		}

		.et_pb_image_container {
			margin: 0 -.9375em;

			a {
				margin: 0;
			}
		}

		.entry-title {
			padding-top: 1em !important;
			padding-bottom: 1em !important;
			margin: 0 !important;
			background-color: $blog-background-color;
			font-size: $common-text-medium-size !important;
			font-weight: $common-text-medium-weight !important;
		}

		.post-content {
			p {
				padding: .625em 0 1.25em;
				font-size: $common-text-small-size;
				line-height: 1.5625em;
			}

			a.more-link {
				position: relative;
				text-transform: uppercase;

				&::before {
					content: '' !important;
					position: absolute;
					right: 0;
					bottom: -.25em;
					left: 0;
					display: block;
					width: 0;
					height: .0625em;
					transition: .3s ease-in;
				}

				&:hover {
					&::before {
						width: 99%;
						background-color: $common-primary-color;
						transition: .3s ease-in;
					}
				}
			}
		}
	}
}

body.single-post {
	.gabick-blog-content {
		display: flex;
		flex-wrap: wrap;

		.et_pb_column_1_4 {
			order: 2;

			@media #{bp(large)} {
				order: 1;
			}
		}

		.et_pb_column_3_4 {
			order: 1;

			@media #{bp(large)} {
				order: 2;
			}
		}
	}
}
