//-------------------------------------
//-- Blog - Sidebar
//-------------------------------------
body #page-container {
	.et_pb_widget_area {
		.et_pb_widget {
			margin-bottom: 10%;

			a {
				display: block;
				transition: $sidebar-link-hover-transition;

				&:hover {
					padding-left: .625em;
					border-left: .1875em solid $common-primary-color;
					font-weight: $common-text-fat-weight;
					transition: $sidebar-link-hover-transition;
				}
			}
		}
	}
}

#searchform {
	&::before {
		content: '\55';
		position: absolute;
		top: 50%;
		right: .75em;
		margin-top: -.5em;
		color: inherit;
		font-family: $sidebar-icon-font;
		font-weight: $common-text-fat-weight;
		line-height: 1;
	}

	input#s {
		height: 2.5em;
		padding: .7em;
		border: .0625em solid $common-border-color;
		margin: 0;
		color: $common-base-color;
	}

	input#searchsubmit {
		position: absolute;
		top: 0;
		right: 0;
		width: 2.5em;
		height: 2.5em;
		border: 0;
		background-color: transparent !important;
		font-weight: $common-text-medium-weight;
		text-indent: -6249.9375em !important;
		cursor: pointer;
	}
}
