//-------------------------------------
//-- blog - Config - Design
//-------------------------------------

/* ... */
$blog-zindex-text: 								2;
$blog-background-color: 						#f7f7f7;
$sidebar-link-hover-transition: 				.3s ease;
$sidebar-icon-font: 							'ETmodules';
