//-------------------------------------
//-- Site - Base
//-------------------------------------

.button-force-hover {
	padding: .3em 2em .3em .7em;
	background-color: $common-primary-color !important;
	color: $common-bg-color !important;
	cursor: pointer;

	&::after {
		opacity: 1 !important;
		margin-left: 0 !important;
	}
}
