//-------------------------------------
//-- Site - Footer
//-------------------------------------

/* ... */

#main-footer {
	.container {
		box-sizing: border-box;
		width: 100%;
		max-width: 93.75em;
		padding-right: 1.25em;
		padding-left: 1.25em;
		margin-right: auto;
		margin-left: auto;
	}
}

