.instragram-row {
	a {
		display: inline-block;

		&:hover {
			color: $common-link-hover-color;
		}
	}

	.arobas {
		position: relative;
		bottom: .1875em;
	}

	#sb_instagram {
		.sbi_follow_btn {
			a {
				font-size: $common-text-base-size;
				font-weight: $common-text-fat-weight;

				svg.fa-instagram {
					height: 1.1em;
				}
			}
		}

		.sbi_item {
			width: 50% !important;

			@media #{bp(medium)} {
				width: 33.3% !important;
			}

			@media #{bp(xlarge)} {
				width: 16.66% !important;
			}

			.sbi_photo {
				height: 10.625em !important;

				@media #{bp(medium)} {
					height: 15.625em !important;
				}

				@media #{bp(large)} {
					height: 13.625em !important;
				}

				@media #{bp(xxlarge)} {
					height: 23.625em !important;
				}

			}
		}
	}
}

