@media #{bp(medium down)} {
	.row-paralax {
		display: flex;
		flex-wrap: wrap;

		.et_pb_column {
			order: 1;
		}

		.et_pb_column_empty {
			display: block;
			order: 2;
			width: 100%;
			height: 37.5em;
		}

		.et_parallax_bg {
			height: 37.5em !important;
			transform: none !important;
		}
	}
}

body #page-container .row-paralax {
	h3 {
		display: inline-block;
	}
}
