//-------------------------------------
//-- Site - Portfolio
//-------------------------------------

/* ... */
.et_pb_fullwidth_header {
	.header-content {
		background-color: $portfolio-header-background-color;
	}
}

.gabick-divider {
	padding: 1em 0 2em !important;
}

.gabick-media-gallery .et_pb_gallery {
	.et_pb_grid_item {
		width: 100%;
		margin-bottom: 1%;

		@media #{bp(medium)} {
			width: 32%;
			margin-right: 2%;

			&:last-child {
				margin-right: 0%;
			}
		}
	}
}

.et_pb_portfolio_filters {
	li.et_pb_portfolio_filter {
		min-width: 20% !important;
		margin: .25em 0;

		a {
			display: inline-block;
			width: 100% !important;
			padding: 1em;
			border: .125em solid $common-primary-color;
			border-radius: $global-radius !important;
			outline: none;
			background: none;
			color: $common-primary-color;
			font-weight: $common-text-fat-weight;
			transition: .3s;
			cursor: pointer;

			&:hover {
				background: $common-primary-color;
				color: $common-white;
			}

			&.active {
				border-color: $common-base-color;
				background: $common-base-color;
				color: $common-white !important;
			}
		}
	}
}
