/*
 Theme Name:   Divi Child
 Theme URI:    http://example.com/twenty-fifteen-child/
 Description:  Twenty Fifteen Child Theme
 Author:       John Doe
 Author URI:   http://example.com
 Template:     Divi
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twenty-fifteen-child
*/
@import "../Divi/style.css";

/* Global Headings */
body #page-container h1,body #page-container h2,body #page-container h3,body #page-container h4,body #page-container h5,body #page-container h6 {
    margin-bottom: 10px;
}

body #page-container h1 {
    font-size: 80px;
}

body #page-container h2 {
    font-size: 34px;

}

body #page-container h3 {
    font-size: 30px;
}

body #page-container h4 {
    font-size: 24px;
}

@media screen and (max-width:768px) {

    body #page-container h1 {
        font-size: 38px;
    }

    body #page-container h2 {
        font-size: 26px;
    }

    body #page-container h3 {
        font-size: 18px;
    }

    body #page-container h4 {
        font-size: 16px;
    }
}


@media screen and (max-width:420px) {

    body #page-container h1 {
        font-size: 34px;
    }

    body #page-container h2 {
        font-size: 24px;
    }

    body #page-container h3 {
        font-size: 18px;
    }

    body #page-container h4 {
        font-size: 14px;
    }
	.white-button, .white-button:hover, .white-button-form button , .white-button-form button:hover{
		padding: 10px 25px !important;
	}
}
/* Footer */
#footer-info {
	float: none;
	text-align:center;
}

/* General mobile break */
@media screen and (min-width: 768px)  {
	.mobile-break { display: none; }
}

/* ###### SEARCH RESULT PAGE ###### */

@media (min-width: 981px) {
.search #left-area {
	width: 64.833%;
}

.search #sidebar {
	width: 29.666%;
	border-left: 1px solid #e2e2e2;
}

.search #main-content .container:before {
    display: none !important;
}}

.search .et_pb_post a img {
    padding-bottom: 25px;
}

.search h2 {
	font-size: 34px;
	font-weight: bold;
}

.search h4.widgettitle {
	font-size: 22px;
	font-weight: bold;
}

.search #sidebar .et_pb_widget {
	padding: 25px;
}

.search #content-area {
	padding-bottom: 50px;
}

.search #sidebar .et_pb_widget {
	margin-bottom: 0;
}

.widget_search #searchsubmit {
	width: 100px;
}

.heading-category {
	font-family: 'Montserrat';
	font-weight: 700;
	line-height: 1.3em;
}

.heading-category a {
	color: #353740!important;
}

@media only screen and (min-width: 420px) and (max-width: 719px) { .edd_downloads_list .edd_download { width: 50% !important; } } @media only screen and (min-width: 320px) and (max-width: 420px) { .edd_downloads_list .edd_download { width: 100% !important; } }


/*------------------------------------------------*/
/*----------[PROJECT CATEGORY OVERLAY]------------*/
/*------------------------------------------------*/

.view {
    width: 100%;
    height: 100%;
    margin: 0;
    float: left;
    border: 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background-color: #000;
}
.view .mask, .view .content {
    width: 100%;
    height: 98.1%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative;

}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 35px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}

.view-sixth img {
    transition: all 0.4s ease-in-out 0.5s;
}
.view-sixth .mask{
    background-color: rgba(40,32,30,0.5);
    opacity:0;
    transition: all 0.3s ease-in 0.4s;
}
.view-sixth h2{
    opacity:0;

    background: transparent;
    margin: 25% 40px 0px 40px;
    transform: scale(10);
    transition: all 0.3s ease-in-out 0.1s;
}
.view-sixth p {
    opacity:0;
    transform: scale(10);
    transition: all 0.3s ease-in-out 0.2s;
}


.view-sixth:hover .mask {
    opacity:1;
    transition-delay: 0s;
}
.view-sixth:hover img {
    transition-delay: 0s;
}
.view-sixth:hover h2 {
    opacity: 1;
    transform: scale(1);
    transition-delay: 0.1s;
}
.view-sixth:hover p {
    opacity:1;
    transform: scale(1);
    transition-delay: 0.2s;
}

@media screen and (max-width:900px) {
	.view h2 {
		font-size: 35px;
		padding: 10px;
		margin: 20px 0 0 0
	}
	.view p {
		font-size: 12px;
		padding: 10px 20px 20px;
	}

}

@media screen and (max-width:479px) {
	.view h2 {
		font-size: 25px;
		padding: 10px;
		margin: 10px 0 0 0
	}
	.view p {
		font-size: 12px;
		padding: 10px 20px 20px;
	}
}

/*
 Theme Name:   Masonry Filterable Portfolio
 Theme URI:    http://divisoup.com
 Description:  A Child Theme Template for Divi
 Author:       Divi Soup
 Author URI:   http://divisoup.com
 Template:     Divi
 Version:      1
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
*/


/*--------------------------------------------------------------*/
/*-------Masonry Filterable Portfolio Layout by Divi Soup-------*/
/*--------------------------------------------------------------*/


/*Hide items until all loaded*/

.ds-masonry-portfolio .et_pb_portfolio_item {
    display: none;
}


/*Set the number of columns*/

.ds-masonry-portfolio .et_pb_portfolio_items {
    -webkit-columns: 14em; /*increase em values for less columns, decrease for more columns*/
    columns: 14em; /*increase em values for less columns, decrease for more columns*/
    -webkit-column-gap: 10px; /*space between columns*/
    column-gap: 10px; /*space between columns*/
    width: 100%;
    margin-bottom: 30px;
}


/*Size the items and add spacing*/

.ds-masonry-portfolio .et_pb_portfolio_item {
    width: 100%;
    margin: 0;
    border-bottom: 10px solid transparent; /*space between images (should be same value as space between columns)*/
    overflow: hidden;
    -webkit-column-break-inside: avoid;
    break-inside: avoid-column;
}


/*Remove title spacing*/

.ds-masonry-portfolio .et_pb_portfolio_item h2 {
    margin-top: 0;
    padding-bottom: 0;
}


/*Style the title and caption hover effect*/

.ds-masonry-portfolio .ds-portfolio-text {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 20px; /*padding around title and category*/
    background: rgba(255, 255, 255, .8); /*overlay colour on hover*/
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}


/*Activate hover effect*/

.ds-masonry-portfolio .et_pb_portfolio_item:hover .ds-portfolio-text {
    opacity: 1;
}


/*Space the filters*/

.ds-masonry-portfolio .et_pb_portfolio_filters ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
}

.ds-masonry-portfolio .et_pb_portfolio_filters li {
    min-width: 20%; /*adjust percentage based on number of filters*/
    text-align: center;
}


/*--------------------------------------------------------------*/
/*-----End Masonry Filterable Portfolio Layout by Divi Soup-----*/
/*--------------------------------------------------------------*/