//-------------------------------------
//-- Footer - Config - Design
//-------------------------------------

/* ... */
// Classic url
$social-color: 						#ffffff;
$social-color-hover: 				rgba(255, 255, 255, .5);
$link-hover-transition: 			.3s ease;
