#footer-bottom, #et-footer-nav {
	display: none !important;
}

footer#main-footer {
	#footer-widgets {
		h4.title {
			color: $common-white;
		}

		.footer-widget {
			margin-bottom: 0 !important;

			.widget_nav_menu {
				width: 100%;

				.menu-footer_menu-container {
					ul.menu {
						list-style: none;

						li.menu-item {
							display: block;
							padding: .6875em 0;
							border-bottom: .0625em solid rgba(255, 255, 255, .3);
							margin: 0;
							line-height: 1em;

							&::before {
								display: none;
							}

							a {
								display: block;

								&:hover {
									padding-left: .625em;
									border-left: .1875em solid $common-white;
									font-weight: $common-text-fat-weight;
									transition: $link-hover-transition;
								}
							}
						}
					}
				}
			}

			.fwidget {
				width: 100%;
				margin-bottom: 10% !important;
			}
		}
	}


	.widget_gabick_social_widget {
		ul.et-social-icons {
			float: none;
			padding: .3125em 0 0;
			text-align: left;

			li.et-social-icon {
				padding: 0 !important;
				margin: 0 1em 0 0;

				&::before {
					display: none;
				}

				a {
					color: $social-color;
					font-size: $common-title-size !important;

					&:hover {
						color: $social-color-hover;
					}
				}
			}
		}
	}
}

body.home {
	.global-newsletter-footer {
		display: none;
	}
}
